main {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);  display: flex;
  align-items: center;
  flex-direction: column;
  margin:0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


main > img {
  width: 100vw;
}

main::-webkit-scrollbar {
  width: 15px;
}

main::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
main::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}



html {
  --scrollbarBG: black;
  --thumbBG: rgb(51,141,203);
  font-family: 'Helvetica Neue' !important;
  text-rendering: optimizeLegibility
}
  

body {
  margin: 0;
  font-family: 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}


header, h1, h2, h3, h4, h5, ul, li, p, select, input {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue';

}

footer {
  bottom: 0;
  margin: 0;
  padding: 0;
  height: 5vh;
  background-color: black;
  width: 100vw;
}

select, button, option, h1, h2, h3, h4, h5, p, div, span, section, a {
  font-family: 'Helvetica Neue';
}