.tagsWrap {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15vh;
}

.tagsWrap > li {
  list-style: none;
  background-color: rgb(207,184,124);
  color: black;
  padding: 5px;
  font-size: 1.5vw;
  border-radius: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.tagsWrap > li > button {
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  outline: none;
}

@media only screen and (max-width: 600px) {
   .tagsWrap > li {
    font-size: 3.2vw;
  }
}
