.fileUpload {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(207,184,124);
  color: black;
  padding: 5px;
  font-size: 1.3em;
  border-radius: 5px;
}

.loader {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999999;
}